#define-hide1,
#define-hide2 {
  display: none;
}

#clickable1 {
  cursor: pointer;
  color: blue;
}

#clickable1:hover {
  text-decoration: underline;
}

#clickable2 {
  cursor: pointer;
  color: blue;
}

#clickable2:hover {
  text-decoration: underline;
}
